variables {
  --textColor: #faf9f6;
  --bg: #0b1215;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: poppins, sans-serif;
}

body {
  background-color: #080c0e;
  background-size: cover;
  color: white;
  overflow-x: hidden;
}

p {
  font-size: 1rem;
  line-height: 1.9rem;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

li {
  list-style-type: none;
}

/* Navbar */
.nav-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.032);
  backdrop-filter: blur(10px);
  z-index: 1;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-content ul {
  display: flex;
  flex-wrap: wra;
  gap: 10rem;
  font-size: 1.2rem;
}

.nav-content ul li {
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.nav-content ul li:hover {
  filter: drop-shadow(0 0 10px #ffffffad);
  transform: scale(1.1);
  -webkit-filter: drop-shadow();
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/* Home */
.home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  color: #fff;
  background: linear-gradient(
    0deg,
    rgba(26, 22, 37, 1) 3%,
    rgba(255, 255, 255, 0) 25%
  );
}

.homeImg img {
  height: 600px;
  margin-top: -45%;
  filter: drop-shadow(0 0 10px #ffffffad);
  -webkit-filter: drop-shadow();
}

.home-content {
  margin-left: 5rem;
}

.home-content h1 {
  font-size: 3.5rem;
}

.home-content p {
  font-size: 1.5rem;
}

.home-content .explore-btn {
  background-color: #fff;
  color: #333;
  padding: 10px 70px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin-top: 2.5rem;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.home-content .explore-btn:hover {
  background-color: #33333300;
  backdrop-filter: blur(10px);
  color: #fff;
  border: 2px solid #faf9f6;
  filter: drop-shadow(0 0 1=20px #ffffffd9);
  -webkit-filter: drop-shadow(0 0 1=20px #ffffffd9);
}

/* About */
.aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: #fff;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.me-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: center;
  line-height: 3rem;
}

.academic {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  color: #fff;
  background-color: var(--bg);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 35%,
    rgb(26, 22, 37) 95%
  );
}

.academic img {
  height: 250px;
}

.academic .card-academic {
  background-color: var(--textColor);
  display: flex;
  padding: 30px 40px;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  filter: drop-shadow(0 0 20px #ffffff31);
  -webkit-filter: drop-shadow(0 0 20px #ffffff31);
}

.academic .card-academic:hover {
  transform: translateY(-8px);
  background-color: black;
  display: flex;
  padding: 30px 40px;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  filter: drop-shadow(0 0 20px #ffffff31);
  -webkit-filter: drop-shadow(0 0 20px #ffffff31);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
}

.academic .card-academic .textAcademic {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Project */
.project {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  height: 100vh auto;
  color: #fff;
  background-color: var(--bg);
}

.projectContent {
  display: flex;
  margin-left: 5rem;
  margin-right: 5rem;
  gap: 4rem;
  flex-wrap: wrap;
}

.projectCard {
  background-color: black;
  width: 20rem;
  height: 32rem;
  margin-top: 2rem;
  display: flex;
  padding: 30px 40px;
  flex-direction: column;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  filter: drop-shadow(0 0 20px #ffffff31);
  -webkit-filter: drop-shadow(0 0 20px #ffffff31);
  text-align: center;
}

.projectCard img {
  height: 5rem;
  width: 12rem;
}

.projectCard .projectLogo {
  margin-top: 2rem;
  margin-bottom: 5.5rem;
}

.projectCard .textProject {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* footer */

footer {
  display: flex;
  /* justify-content: space-between; */
  height: 20rem;
  background-color: var(--bg);
}

.footer-content {
  margin: 10rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.5rem;
}

.footer-content ul {
  display: flex;
  list-style: none;
  gap: 5rem;
  margin-top: 3rem;
}

.footer-content ul li {
  cursor: pointer;
}

.footer-content ul li a {
  color: white;
  font-size: 6rem;
}

.footer-content ul li a:hover {
  color: #51ff00;
  filter: drop-shadow(0 0 10px #0080ffcc);
  transform: scale(1.1);
  -webkit-filter: drop-shadow();
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.footer-content a {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
.footer-content a:hover {
  color: rgb(234, 234, 234);
  font-size: 1.5rem;
  font-weight: bold;
}

.footBtn {
  color: white;
  background-color: #080c0e;
}

.footBtn .foot-btn {
  background-color: #fff;
  color: #333;
  padding: 10px 70px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin-top: 2.5rem;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  filter: drop-shadow(0 0 10px #ffffffad);
  -webkit-filter: drop-shadow(0 0 10px #ffffffad);
}

.footer-content .footBtn .foot-btn:hover {
  background-color: var(--bg);
  color: #fff;
  transform: scale(1.1);
  -webkit-filter: drop-shadow();
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
